
/* footer */
.footer_c{
  border-top: 1px solid #E2E2E2; 
  margin-top: 80px;
  padding: 72px 0px 88px;
  background-color: #FFFFFF;

}

.one_f{
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1024px;
  box-sizing: border-box;
  height:361px;
}

.two_f{
  display: flex;
  height:224px;
  width: 1212px;
}
